body {
    background-image: linear-gradient(to bottom, cyan, steelblue, whitesmoke);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    padding-top: 1.5em;
}

.subTitleSpan {
    padding-top: 1em;
    margin-bottom: 2rem;
    color: blue;
}



.title-container .subTitle{
    width: 80ch;
    
}


form {
    width: 70%;
}

.search-container {
    margin-bottom: 2rem;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.search-input {
    border: none;
    padding: 1.5em;
    width: 50%;
    position: relative;
    border-radius: 5px;
    

}

button {
    position: absolute;
    border: none;
    cursor: pointer;
    
}

button svg {
    height: 30px;
    width: 30px;
    background-color: white;
}

.currentDay-weather {
    width: 60%;
    height: 50vh;
    border-radius: 15px;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.currentDay-weather .current-day {
    align-self: flex-end;
}

.humTempAndWind{
    margin-top: 4rem;
    border-radius: 10px;
    border: 2px solid red;
    padding: 2em;
}

.weather-elements-container {
    display: flex;
    gap: 20px;
    width: 90%;

}


.weather-elementsDiv {
    width: 60%;
    height: 20vh;
    background-color: pink;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;

}

