body {
    background-image: linear-gradient(to bottom, cyan, steelblue, whitesmoke);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-container {
    padding-top: 2rem;
}

button svg {
    height: 30px;
    width: 30px;
    color: white;
}

.weather-elements-container {
    display: flex;
    gap: 30px;
}

.elementsDiv {
    width: 50%;
    height: 50%;
    background-color: pink;
    padding: 20px;
    margin-top: 30px;

}