body {
    background-image: linear-gradient(to bottom, steelblue, white, gray, cyan, whitesmoke);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    padding-top: 1.5em;
}

.subTitleSpan {
    padding-top: 1em;
    margin-bottom: 2rem;
    color: blue;
}



.title-container .subTitle{
    width: 80ch;
    
}


form {
    width: 70%;
}

.search-container {
    margin-bottom: 2rem;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.search-input {
    border: none;
    padding: 1.5em;
    width: 50%;
    position: relative;
    border-radius: 5px;
    

}

button {
    position: absolute;
    border: none;
    cursor: pointer;
    
}

button svg {
    height: 30px;
    width: 30px;
    background-color: white;
}

.currentDay-weather-container{
    width: 60%;
    height: 50vh;
    background: linear-gradient(to bottom, grey, steelblue, white, purple, yellow);
    display: none;
   
}

.current-day-weather-innerDiv {
   
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.current-day-weather-innerDiv .current-day {
    margin-top: 30px;
}

.current-day-weather-innerDiv .current-day, .current-day-weather-innerDiv .temp {
    margin-left: 30px;
}

.current-day-weather-innerDiv .conditions,  .current-day-weather-innerDiv .feelslike {
   align-self: flex-end;
   margin-right: 40px;
   
}

.humTempAndWind{
    margin-top: 4rem;
    border-radius: 10px;
    border: 2px solid red;
    padding: 2em;
    align-self: center;
}

.weather-elements-container {
    display: flex;
    gap: 20px;
    width: 90%;

}


.weather-elements-innerDiv {
    width: 60%;
    height: 20vh;
    background: linear-gradient(to bottom, grey, steelblue, white, yellow, orange, white);
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;

}

